########################################
# Java / Maven
########################################
target/
*.class
*.jar
*.war
*.ear

########################################
# IntelliJ IDEA
########################################
.idea/
*.iml
out/

########################################
# OS / Editor
########################################
.DS_Store
Thumbs.db
.vscode/

########################################
# Logs
########################################
*.log

########################################
# Terraform (CRITICAL)
########################################
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

########################################
# Environment / Secrets
########################################
.env
.env.*
*.pem
*.key